<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	  <link rel='stylesheet' href='/stylesheets/base-improvements.css' type='text/css' media='all' />
	  <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
  </head>
  <body>

    <div class="wrap">
		  <div class="formdiv">
			  <form id="the_form" action="" method="post">
				  <!-- <label>Tag</label><br> test-->
				  <div class="glassIcon"></div>
				  <input id="tags" type="text" name="tags"><br>
				  <input class="inputB" type="submit" value="Submit">
			  </form>
			  <div class="recent">
				  <p>Recent searches</p>
			  </div>
		  </div>

		  <div id="images">
		  </div>
    </div>

	  <script src="/javascripts/jquery-1.9.1.min.js"></script>
	  <script>window.jQuery || document.write('<script src="js/library/jquery-1.9.0.min.js"><\/script>')</script>
	  <script type='text/javascript' src='/javascripts/ui.js'></script>
  </body>
</html>
