/* BASICS ---------------- */
body {
    background-color: #efefef;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    overflow: hidden;
}

a {
    color: #252525;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

a:focus {
    outline-color: rgb(0, 0, 0);
    outline-color: rgba(0, 0, 0, 0.6);
}

label {

}

input[type="text"],
input[type="password"],
textarea {
    padding-left: 20px;
    width: 100%;
}

input[type="submit"],
button {

}

[disabled] {
    opacity: 0.7;
}

::-moz-selection {
    background: #b3d4fc;
    background: rgba(0, 0, 0, 0.2);
}

::selection {
    background: #b3d4fc;
    background: rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

.wrap {
    display: flex;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    height: 644px;
    border: 1px solid black;
}

.formdiv {
    width: 233px;
    float: left;
    padding: 15px;
    height: 689px;
    border-right: 1px dotted black;
    overflow: hidden;
}

.formdiv * {
    margin-bottom: 5px;
}

#images {
    overflow: auto;
    width: 85%;
    float: right;
    padding: 15px;
}

img {
    height: 200px;
}

.inputB {
    display: none;
}

.glassIcon {
    width: 15px;
    position: fixed;
    margin-top: 1px;
    height: 15px;
    background-image: url("../images/lglass.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
}

.recent ul {
    list-style-type: circle;
    margin-left: 17px;
}
